{% if messages %}
    {%for message in messages%}
        {% if message.tags == 'error'%}
        <script>M.toast({html:'{{message}}',classes:"red rounded", displayLength:6000})</script>
        {% elif message.tags == 'warning'%}
        <script>M.toast({html:'{{message}}',classes:"orange rounded", displayLength:6000})</script>
        {% elif message.tags == 'success'%}
        <script>M.toast({html:'{{message}}',classes:"green rounded", displayLength:6000})</script>
        {% elif message.tags == 'info'%}
        {% endif %}
        {% endfor %}
        {%endif%}